{% extends "base_generic.html" %}
{% block content %}

{% if form.errors %}
<p>Usuário ou senha incorretos. Por favor, tente novamente.</p>
{% endif %}

<div class="row justify-content-center">
	<div class="form-group col-md-8">
		<div class="jumbotron">
			<legend class="text-center">
				<h3 class="display-4">Mudar Senha</h3>
			</legend>

			<p class="lead text-center">
				Digite sua senha antiga e sua nova senha.
			</p>

			<hr class="my-4">

			<form method="post" action="">
				{% csrf_token %}

				{% for field in form %}
				<div class="row justify-content-center text-center">
					<div class="form-group col-md-8">
						{{ field.label_tag }}
						<br>
						{{ field }}
						{{ field.errors }}
					</div>
				</div>
				{% endfor %}

				<div class="text-center">
					<div class="form-group">
						<div class="row justify-content-lg-center">
							<div class="col-lg-7 col-lg-offset-3 .col-md-4">
								<input type="submit" name="submit" style="font-size:20px;" value="Confirmar"
									class="btn btn-primary col-xs-8 .col-md-8" />
								</p>
							</div>
						</div>
					</div>
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
