
{% extends "base_generic.html" %}
{% block title %}Info{% endblock %}
{% block content %}

<div class="content-section">
<div class="center">
    <h1> <b>{{ unidade.nome_unidade }}</b> </h1>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h3 class="sub"> Detalhes </h3>
                <p> <b>Nome da Unidade:</b> {% if unidade.nome_unidade %} {{ unidade.nome_unidade }} {% else %} Sem informações {% endif %}</p>
        </div>
        <div class="col-md-12">
            <p> <b>Responsável pela Unidade:</b> {% if unidade.responsavel.first_name %} {{ unidade.responsavel.first_name }} {{ unidade.responsavel.last_name }} {% else %} Sem informações {% endif %}</p>
        </div>
        <div class="col-md-12">
            <p> <b>Sobre a Unidade:</b> {% if unidade.descricao_unidade %} {{ unidade.descricao_unidade }} {% else %} Sem informações {% endif %}</p>
        </div>
        <div class="col-md-12">
            <p> <b>Telefone da Unidade:</b> {% if unidade.telefone_unidade %} {{ unidade.telefone_unidade }} {% else %} Sem informações {% endif %}</p>
        </div>
        <div class="col-md-12">
            <p> <b>Estado de Localização da Unidade: </b> {% if unidade.estado %} {{ unidade.estado.nome_estado }} {% else %} Sem informações {% endif %}</p>
        </div>
    </div>
    {% if request.user == unidade.responsavel or user.is_superuser %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'editar_unidade' unidade.unidade_id %}" class="btn btn-primary btn-lg">
                    <i class="fa fa-edit"></i> Editar Unidade </button>
                </a>
            </div>
        </div>
    {% endif %}
    <br>
    <div class="row">
        <div class="col-md-6">
            <a href="#" class="btn btn-primary btn-lg">
                <i class="fa fa-eye"></i> Visualizar animais adotados </button>
            </a>
        </div>
    </div>
    <hr class="intro-divider">
    <div class="row">
        <div class="col-md-12">
            <h3> Animais da Unidade {{ unidade.nome_unidade }}: </h3>
        </div>
    </div>
    <br/>
    {% if request.user == unidade.responsavel or user.is_superuser %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'criar_animal' unidade.unidade_id %}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i> Adicionar Animal </button>
            </a>
        </div>
    </div>
    {% endif %}
    <br>
    {% if animais %}
    <table class="table table-striped table-bordered" id="tabela_animais">
        <thead>
            <tr>
                <th width="10%"> Nome </th>
                <th width="10%"> Tipo do Animal </th>
                <th width="20%"> Raça </th>
                <th width="20%"> Sobre o Animal </th>
                {% if request.user.is_authenticated %}
                    <th width="20%"> Ações </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for animal in animais %}
            <tr>
                <td>
                    {% if request.user == unidade.responsavel or user.is_superuser %}
                        <a href="{% url 'lista_adocao_animal' animal.animal_id %}" data-tt="tooltip" title="Ver usuários que querem adotar o animal.">
                        {{ animal.nome_animal }}
                    {% else %}
                        {{ animal.nome_animal }}
                    {% endif %}
                </td>
                <td>
                    {{ animal.tipo_animal }}
                </td>
                <td>
                    {% if animal.raca_animal %}
                        {{ animal.raca_animal }}
                    {% else %}
                        Indefinido
                    {% endif %}
                </td>
                <td>
                    {% if animal.descricao_animal %}
                        {{ animal.descricao_animal }}
                    {% else %}
                        Sem informações
                    {% endif %}
                </td>
                <td>
                    <div class="row justify-content-between">
                        <div class="col-3 text-center">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'adicionar_animal_lista' animal.animal_id %}" data-tt="tooltip" title="Adotar animal">
                                    <i class="fa fa-plus fa-2x" style="color:green;"></i></button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-3 text-center">
                            {% if request.user == unidade.responsavel or user.is_superuser %}
                                <a href="{% url 'editar_animal' animal.animal_id %}" data-tt="tooltip" title="Editar propriedades do animal">
                                    <i class="fa fa-edit fa-2x"></i></button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-3 text-center">
                            {% if request.user == unidade.responsavel or user.is_superuser %}
                                <a href="" data-href="{% url 'deletar_animal' animal.animal_id %}" data-toggle="modal" data-target="#modal_deletar_animal" data-tt="tooltip" title="Realizar exclusão do Animal para adoção.">
                                    <i class="fa fa-trash fa-2x" style="color:red;"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <div style="text-align: center">
            <div style="text-align: center">
            <br>
            <br>
                <h3> Ainda não há nenhum animal cadastrado nesta unidade. </h3>
            </div>
        </div>
        {% endif %}

        <div id="modal_deletar_animal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tem certeza que deseja deletar este Animal?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancelar</button>
                    <a type="button" class="btn btn-danger btn-lg btn-ok">Sim</a>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <br>
        <br>
        <div>
            <a href="{% url 'lista_unidades' unidade.estado.estado_id %}"><button type="button" class="btn btn-secondary btn-lg"> <i class="fa fa-undo-alt"> </i> Voltar </button></a>
        </div>
</div>
</div>

<script>

$('#modal_deletar_animal').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$('[data-tt="tooltip"]').tooltip();

</script>

{% endblock %}