.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.sidebar {
    border-right: 1px solid #dee2e6;
    top: 30px;
}

.sb-full-height {
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -265px;
}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.login {
    margin-left: 85%;
}