{% extends "base_generic.html" %}

{% block title %}Home{% endblock %}
{% load static %}
{% block content %}
<div class="intro-header">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row display-flex">
					<div class="col-sm-12">
						<div class="intro-message">
                        <div class="col-sm-6 text-center">
							<img class="img-responsive center-block" src="{% static 'img/adoteme_logo.png' %}" alt="logo" width="600" height="550">
						</div>
						<div class="col-lg-9">
							<h2 style="color:#662700;">O site brasileiro favorito para realizar o maravilhoso sonho de encontrar um novo melhor amigo!</h2>
						</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<p>
</p>
{% endblock %}
