{% extends "base_generic.html" %}
{% block title %}Info{% endblock %}
{% block content %}

<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <h3> Sua lista de adoções </h3>
                    </div>
                </div>

                {% if animais_lista_nao_adotados %}
                <table class="table table-striped table-bordered" id="tabela_feiras">
                    <thead>
                        <tr>
                            <th width="10%"> Nome </th>
                            <th width="10%"> Tipo do Animal </th>
                            <th width="20%"> Raça </th>
                            <th width="20%"> Sobre o Animal </th>
                            <th width="20%"> Unidade </th>
                            <th width="10%"> Ações </th>
                        </tr>
                    </thead>
                <tbody>
                    {% for animal in animais_lista_nao_adotados %}
                    <tr>
                        <td>
                            {{ animal.animal.nome_animal }}
                        </td>
                        <td>
                            {{ animal.animal.tipo_animal }}
                        </td>
                        <td>
                            {% if animal.animal.raca_animal %}
                                {{ animal.animal.raca_animal }}
                            {% else %}
                                Indefinido
                            {% endif %}
                        </td>
                        <td>
                            {% if animal.animal.descricao_animal %}
                                {{ animal.animal.descricao_animal }}
                            {% else %}
                                Sem informações
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'visualizar_unidade' animal.animal.unidade.unidade_id %}" >
                                {{ animal.animal.unidade.nome_unidade }} 
                            </a>
                        </td>
                        <td>
                        <div class="row justify-content-between">
                            <div class="col-6 text-center">
                            <a href="#" data-href="{% url 'deletar_animal_lista' animal.animal_id %}" data-toggle="modal" data-target="#modal_deletar_animal" data-tt="tooltip" title="Remover animal da lista de adoção.">
                                <i class="fa fa-trash fa-2x" style="color:red;"></i>
                            </a>
                            </div>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div style="text-align: center">
                    <div style="text-align: center">
                        <br>
                        <br>
                        <h5> Você ainda não adicionou nenhum animal à sua lista de adoção. Explore as unidades de adoção do seu Estado de preferência para encontrar seus novo amigo! </h5>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="inner">
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <h3> Sua lista de animais adotados </h3>
                    </div>
                </div>
                {% if animais_lista_adotados %}
                <table class="table table-striped table-bordered" id="tabela_feiras">
                    <thead>
                        <tr>
                            <th width="10%"> Nome </th>
                            <th width="10%"> Tipo do Animal </th>
                            <th width="20%"> Raça </th>
                            <th width="20%"> Sobre o Animal </th>
                            <th width="40%"> Unidade </th>
                        </tr>
                    </thead>
                <tbody>
                    {% for animal in animais_lista_adotados %}
                    <tr>
                        <td>
                            {{ animal.animal.nome_animal }}
                        </td>
                        <td>
                            {{ animal.animal.tipo_animal }}
                        </td>
                        <td>
                            {% if animal.animal.raca_animal %}
                                {{ animal.animal.raca_animal }}
                            {% else %}
                                Indefinido
                            {% endif %}
                        </td>
                        <td>
                            {% if animal.animal.descricao_animal %}
                                {{ animal.animal.descricao_animal }}
                            {% else %}
                                Sem informações
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'visualizar_unidade' animal.animal.unidade.unidade_id %}" >
                                {{ animal.animal.unidade.nome_unidade }} 
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div style="text-align: center">
                    <div style="text-align: center">
                        <br>
                        <br>
                        <h5> Você ainda não adotou nenhum animal. Explore as unidades de adoção do seu Estado de preferência para encontrar seus novo amigo! </h5>
                    </div>
                </div>
                {% endif %}
            </div>

                <div id="modal_deletar_animal" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Tem certeza que deseja remover o animal da sua lista de adoção?</h4>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-danger btn-lg btn-ok">Sim</a>
                        </div>
                    </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div> 
    </div>

<script>

$('#modal_deletar_animal').on('show.bs.modal', function(e) {
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});

$('[data-tt="tooltip"]').tooltip();

</script>

{% endblock %}